@tailwind base;
@tailwind components;
@tailwind utilities;

html.has-scroll-smooth {
    overflow: hidden;
  }
  
  html.has-scroll-dragging {
    user-select: none;
  }
  
  [data-scroll-container] {
    min-height: 100vh;
  }

  /* #minicircle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
    pointer-events: none;
  } */
 

  /* Optional: Smooth scroll fix for Safari */
  @media (prefers-reduced-motion: reduce) {
    [data-scroll-container] {
      scroll-behavior: auto !important;
    }
  }